@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800;900&display=swap');

:root {
  /* --button-background-color: #6A6D9C; */
  --button-background-color: #2F8CFF;
  --border-color: #CADBFF;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  height: 100vh;
  background: #1E1F2C;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 3rem;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-decoration: none;
  color: #fff;
  height: 60px;
  width: 200px;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  font-size: 1.3rem;
  margin: 0;
  z-index: 1;
  background: var(--button-background-color);
  position: relative;
  border-radius: 2px;
  cursor: pointer;
}

.btn::after {
  content: attr(data-text);
  height: 100%;
  width: 100%;
  position: absolute;
  z-index: -1;
  top: -8px;
  left: -8px;
  border: 1px solid var(--border-color);
  text-align: center;
  line-height: 60px;
  border-radius: 2px;
  -webkit-transition: all .3s ease;
  -o-transition: all .3s ease;
  transition: all .3s ease;
  cursor: pointer;
}

.btn:hover::after {
  inset: -1px 0 0 -1px; /* Shorthand properties top right bottom and left*/
}

.btn2{
  border-radius: 50px;
}
.btn2::after{
  border-radius: 50px;
}