@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800;900&display=swap');

:root {
  --background-color: #F4F5FF;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  height: 100vh;
  background: var(--background-color);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.btn {
  font-size: 1.4rem;
  height: 55px;
  width: 160px;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 2px;
  background: none;
  border: none;
  position: relative;
  border-radius: 2px;
  z-index: 1;
  color: #fff;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border: 1.2px solid #0071E2;
  -webkit-transition: .4s ease;
  -o-transition: .4s ease;
  transition: .4s ease;
  -webkit-box-shadow: 0 5px 10px #0071E21A;
  box-shadow: 0 5px 10px #0071E21A;
}

.btn::after {
  content: attr(data-text);
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  line-height: 55px;
  width: 100%;
  background: #0071E2;
  text-transform: uppercase;
  -webkit-transition: .4s ease;
  -o-transition: .4s ease;
  transition: .4s ease;

}

.btn:hover::after {
  -webkit-transform: translate(-5px, -5px);
  -ms-transform: translate(-5px, -5px);
  transform: translate(-5px, -5px);
  -webkit-box-shadow: 0 10px 10px -10px #0071E2;
  box-shadow: 0 10px 10px -10px #0071E2;
  border-radius: 2px;
}
