@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800;900&display=swap');

:root {
  --background-color: #ddd;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  height: 100vh;
  background: var(--background-color);
  display: flex;
  align-items: center;
  justify-content: center;
}

.wrapper {
  max-width: 400px;
  width: 100%;
  background: #fff;
  border-radius: 20px;
  padding: 1.5rem ;
  position: relative;
  z-index: 1;
  overflow: hidden;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  margin: 10px 10px 0 10px;
}

.header .icon {
  height: 40px;
  width: 40px;
  border-radius: 50px;
  background: var(--background-color);
  position: relative;
  overflow: hidden;
}

.wrapper .img {
  margin: .5rem auto;
  height: 100px;
  width: 100px;
  background: var(--background-color);
  border-radius: 50%;
  position: relative;
  overflow: hidden;
}

.details {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.details .username {
  height: 45px;
  width: 200px;
  background: var(--background-color);
  margin: 1rem 0 0.5rem 0;
  border-radius: 30px;
  overflow: hidden;
  position: relative;
}

.details .description,
.details .sub_description{
  height: 30px;
  width: 280px;
  background: var(--background-color);
  border-radius: 30px;
  margin: 1rem 0 0.8rem 0;
  overflow: hidden;
  position: relative;
}
.details .sub_description{
  width: 200px;
  margin: 0;
}
.wrapper .buttons{
  display: flex;
  gap: 1rem;
  width: 100%;
  align-items: center;
  justify-content: center;
  margin: 2rem 0 1rem 0;
}
.buttons .btn{
  height: 55px;
  width: 150px;
  background: var(--background-color);
  border-radius: 50px;
  position: relative;
  overflow: hidden;
}
.icon::before,
.username::before,
.description::before,
.sub_description::before,
.img::before,
.btn::before{
  content: '';
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background: linear-gradient(to right, rgba(255,255,255,.55), transparent);
  position: absolute;
  animation: shimmer 1.49s ease infinite;
}

@keyframes shimmer {
  0%{
    transform: translate(-100%) skewX(-10deg);
  }
  100%{
    transform: translate(450px) skewX(-10deg);
  }
}

.icon,
.username,
.description,
.sub_description,
.img,
.btn{
  animation: scale 1.43s ease infinite;
}

@keyframes scale{
  0%{
    transform: scale(0.98);
  }
  50%{
    transform: scale(1.1);
  }
  100%{
    transform: scale(1);
  }
}