@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800;900&display=swap');

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  background: #e8e8e8;
}

.switch {
  display: inline-block;
  height: 80px;
  width: 80px;
  border-radius: 50%;
  position: relative;
  border: 2px solid #dcdcdc;
  background: #e0e0e0;
  -webkit-box-shadow: 7px 7px 23px #bebebe, -7px -7px 23px #fff;
  box-shadow: 7px 7px 23px #bebebe, -7px -7px 23px #fff;
  overflow: hidden;
}

.switch input {
  width: 0;
  opacity: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-transition: .5s;
  -o-transition: .5s;
  transition: .5s;
}

input:checked+.slider:before {
  background: white;
  -webkit-box-shadow: none;
  box-shadow: none;
}

input:focus+.slider {
  -webkit-box-shadow: 0 0 1px #1CBDFF;
  box-shadow: 0 0 1px #1CBDFF;
}

.slider_0,
.slider_3 {
  font-size: 18px;
  font-weight: 500;
  text-transform: uppercase;
  color: #828282;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.slider_0 {
  left: 0;
  background: #149F33;
}

.slider_1 div {
  position: absolute;
  left: 0;
  height: 50%;
  width: 100%;
  -webkit-transition: .5s;
  -o-transition: .5s;
  transition: .5s;
}

input:checked~.slider_1 div:first-child {
  -webkit-transform: translateY(-100%);
  -ms-transform: translateY(-100%);
  transform: translateY(-100%);
  -webkit-transition-delay: 1s;
  -o-transition-delay: 1s;
  transition-delay: 1s;
}

input:checked~.slider_1 div:last-child {
  -webkit-transform: translateY(100%);
  -ms-transform: translateY(100%);
  transform: translateY(100%);
  -webkit-transition-delay: 1s;
  -o-transition-delay: 1s;
  transition-delay: 1s;
}

input:checked~.slider_0 {
  color: #fff;
  font-size: 19px;
}

input:checked~.slider_2 {
  -webkit-transform: translateX(100%);
  -ms-transform: translateX(100%);
  transform: translateX(100%);
  -webkit-transition-delay: 0.5s;
  -o-transition-delay: 0.5s;
  transition-delay: 0.5s;
}

input:checked~.slider_3 {
  -webkit-transform: translateX(-100%);
  -ms-transform: translateX(-100%);
  transform: translateX(-100%);
  -webkit-transition-delay: 0s;
  -o-transition-delay: 0s;
  transition-delay: 0s;
}

.slider_1 div:first-child {
  background: #f3f3f3;
  top: 0;
  -webkit-transform: translateY(0);
  -ms-transform: translateY(0);
  transform: translateY(0);
  -webkit-transition-delay: 0s;
  -o-transition-delay: 0s;
  transition-delay: 0s;
}

.slider_1 div:last-child {
  background: #f3f3f3;
  bottom: 0;
  border-top: 1px solid #e0e0e0;
  -webkit-transform: translateY(0);
  -ms-transform: translateY(0);
  transform: translateY(0);
  -webkit-transition-delay: 0s;
  -o-transition-delay: 0s;
  transition-delay: 0s;
}

.slider_2 {
  background: #D6D6D6;
  border-left: 1px solid #d2d2d2;
  -webkit-transform: translateX(0);
  -ms-transform: translateX(0);
  transform: translateX(0);
  -webkit-transition-delay: 0.5s;
  -o-transition-delay: 0.5s;
  transition-delay: 0.5s;
}

.slider_3 {
  background: #d2d2d2;
  -webkit-transition-delay: 1s;
  -o-transition-delay: 1s;
  transition-delay: 1s;
  border-right: 1px solid #d2d2d2;
  -webkit-transform: translateX(0);
  -ms-transform: translateX(0);
  transform: translateX(0);
}

