@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800;900&display=swap');


body {
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  font-family: 'Poppins', sans-serif;
  background: #151E36;
}

.button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 15px 30px;
  border-radius: 40px;
  border: 0;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  text-transform: uppercase;
  font-size: 1.5rem;
  color: #fff;
  font-weight: 409;
  letter-spacing: 3px;
  cursor: pointer;
  background: -webkit-gradient(linear, left top, right top, from(#2482FF), to(#37C5FF));
  background: -o-linear-gradient(left, #2482FF, #37C5FF);
  background: linear-gradient(to right, #2482FF, #37C5FF);
  -webkit-box-shadow: 2.5px 5px 0 hsla(196, 100%, 98%, 0.9), inset 0 -1px 0 #37C5FF;
  box-shadow: 2.5px 5px 0 hsla(196, 100%, 98%, 0.9), inset 0 -1px 0 #37C5FF;
  -webkit-transition: .2s;
  -o-transition: .2s;
  transition: .2s;

}

button:active {
  -webkit-transform: translateY(5px);
  -ms-transform: translateY(5px);
  transform: translateY(5px);
  -webkit-box-shadow: none;
  box-shadow: none;
}
