* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.container {
  height: 100vh;
  width: 100%;
  background: #262626;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

input {
  display: none;
}

label {
  height: 40px;
  width: 66px;
  background: #464646;
  border-radius: 100px;
  -webkit-box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  cursor: pointer;
  position: relative;
  -webkit-transition: .4s;
  -o-transition: .4s;
  transition: .4s;
}

span {
  height: 33px;
  width: 33px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  background: #fff;
  border-radius: 50%;
  position: absolute;
  left: 3px;
  -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  -webkit-transition: all .4s;
  -o-transition: all .4s;
  transition: all .4s;
}

label i {
  font-size: 28px;
  color: #464646;
}

input:checked~label {
  background: #6879FF;
}

input:checked~label>span {
  left: 30px;
}

input:checked~label>span>i {
  color: #6879FF;
}