@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800;900&display=swap');

:root {
  --background-color: linear-gradient(135deg, #6B9FFF, #9D00F8);
  --border-color: #4686FF;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  height: 100vh;
  background: var(--background-color);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.wrapper {
  width: 330px;
  background: #E6EFFF;
  padding: 1rem;
  padding-bottom: 10px;
  position: relative;
  text-align: center;
  border-radius: 5px;
  -webkit-box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);
}

.wrapper h2 {
  font-size: 19px;
  color: #76A6FF;
  font-weight: 600;
}

textarea {
  margin: 1rem 0;
  outline: 0;
  resize: none;
  padding: 10px 10px 5px 10px;
  border-radius: 5px;
  max-height: 160px;
  height: 100%;
  height: 55px;
  width: 100%;
  background: transparent;
  border-color: #bfbfbf;
}

textarea::-webkit-scrollbar {
  width: 0px;
}

textarea:is(:valid, :focus) {
  border-color: var(--border-color);
}
