

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  height: 100vh;
  background: #310373;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 2rem;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

button {
  height: 50px;
  width: 140px;
  font-size: 20px;
  font-weight: 550;
  border-radius: 50px;
  border: none;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-family: 'Poppins', sans-serif;
  -webkit-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.4);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.4);
  position: relative;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-transition: .9s;
  -o-transition: .9s;
  transition: .9s;
  background: -webkit-gradient(linear, left top, right top, from(#CC23FF), to(#7023FF));
  background: -o-linear-gradient(left, #CC23FF, #7023FF);
  background: linear-gradient(90deg, #CC23FF, #7023FF);
  color: #fff;
}



button:hover,
button:active {
  -webkit-animation-timing-function: cubic-bezier(0.6, 4, 0.3, 0.8);
  animation-timing-function: cubic-bezier(0.6, 4, 0.3, 0.8);
  -webkit-animation: gelatin .5s 1;
  animation: gelatin .5s 1;
}

@-webkit-keyframes gelatin {

  0%,
  100% {
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1);
  }

  25% {
    -webkit-transform: scale(0.9, 1.1);
    transform: scale(0.9, 1.1);
  }

  50% {
    -webkit-transform: scale(1.1, 0.9);
    transform: scale(1.1, 0.9);
  }

  75% {
    -webkit-transform: scale(0.95, 1.05);
    transform: scale(0.95, 1.05);
  }
}

@keyframes gelatin {

  0%,
  100% {
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1);
  }

  25% {
    -webkit-transform: scale(0.9, 1.1);
    transform: scale(0.9, 1.1);
  }

  50% {
    -webkit-transform: scale(1.1, 0.9);
    transform: scale(1.1, 0.9);
  }

  75% {
    -webkit-transform: scale(0.95, 1.05);
    transform: scale(0.95, 1.05);
  }
}