* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  background: #19252D;
  height: 100vh;

}

.hamburger,
body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.hamburger {
  height: 85px;
  width: 100px;
  background: #6FC2FF;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 3px;
  cursor: pointer;
  position: relative;
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.hamburger span {
  height: 4px;
  width: 65px;
  background: #fff;
  position: absolute;
  border-radius: 10px;
  -webkit-transition: .5s ease-in-out;
  -o-transition: .5s ease-in-out;
  transition: .5s ease-in-out;

}

.hamburger span:nth-child(1) {
  -webkit-transform: translateY(-20px);
  -ms-transform: translateY(-20px);
  transform: translateY(-20px);
  -webkit-animation: animate-base-1 .5s;
  animation: animate-base-1 .5s;
}

.hamburger span:nth-child(3) {
  -webkit-transform: translateY(20px);
  -ms-transform: translateY(20px);
  transform: translateY(20px);
  -webkit-animation: animate-base-2 .5s;
  animation: animate-base-2 .5s;
}
/* for Javascript */

.hamburger.active span:nth-child(2) {
  -webkit-transform: scale(0);
  -ms-transform: scale(0);
  transform: scale(0);
}

.hamburger.active span:nth-child(1) {
  -webkit-animation: animate-1 .5s forwards;
  animation: animate-1 .5s forwards;
}

.hamburger.active span:nth-child(3) {
  -webkit-animation: animate-2 .5s forwards;
  animation: animate-2 .5s forwards;
}


@-webkit-keyframes animate-1 {
  0% {
    -webkit-transform: translateY(-20px);
    transform: translateY(-20px);
  }

  50% {
    -webkit-transform: translateY(0);
    transform: translateY(0);

  }

  100% {
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
  }
}


@keyframes animate-1 {
  0% {
    -webkit-transform: translateY(-20px);
    transform: translateY(-20px);
  }

  50% {
    -webkit-transform: translateY(0);
    transform: translateY(0);

  }

  100% {
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
  }
}

@-webkit-keyframes animate-base-1 {
  0% {
    -webkit-transform: translateY(0) rotate(45deg);
    transform: translateY(0) rotate(45deg);
  }

  50% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg)
  }

  100% {
    -webkit-transform: translateY(-20px);
    transform: translateY(-20px);
  }
}

@keyframes animate-base-1 {
  0% {
    -webkit-transform: translateY(0) rotate(45deg);
    transform: translateY(0) rotate(45deg);
  }

  50% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg)
  }

  100% {
    -webkit-transform: translateY(-20px);
    transform: translateY(-20px);
  }
}


@-webkit-keyframes animate-2 {
  0% {
    -webkit-transform: translateY(20px);
    transform: translateY(20px);
  }

  50% {
    -webkit-transform: translateY(0);
    transform: translateY(0);

  }

  100% {
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
  }
}


@keyframes animate-2 {
  0% {
    -webkit-transform: translateY(20px);
    transform: translateY(20px);
  }

  50% {
    -webkit-transform: translateY(0);
    transform: translateY(0);

  }

  100% {
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
  }
}

@-webkit-keyframes animate-base-2 {
  0% {
    -webkit-transform: translateY(0) rotate(-45deg);
    transform: translateY(0) rotate(-45deg);
  }

  50% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg)
  }

  100% {
    -webkit-transform: translateY(20px);
    transform: translateY(20px);
  }
}

@keyframes animate-base-2 {
  0% {
    -webkit-transform: translateY(0) rotate(-45deg);
    transform: translateY(0) rotate(-45deg);
  }

  50% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg)
  }

  100% {
    -webkit-transform: translateY(20px);
    transform: translateY(20px);
  }
}

