* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  height: 100vh;
  background: #efefef;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-transition: background .5s;
  -o-transition: background .5s;
  transition: background .5s;
}


input[type="checkbox"] {
  position: relative;
  height: 40px;
  width: 80px;
  -webkit-appearance: none;
  background: #c6c6c6;
  border-radius: 20px;
  cursor: pointer;
  -webkit-box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2), 0 0 1px rgba(0, 0, 0, 0.2);
  box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2), 0 0 1px rgba(0, 0, 0, 0.2);
  -webkit-transition: .5s;
  -o-transition: .5s;
  transition: .5s;
}

input:checked[type="checkbox"] {
  background: #2185FF;
}

input[type="checkbox"]::before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  height: 40px;
  width: 40px;
  background: #fff;
  border-radius: 50%;
  -webkit-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
  -webkit-transition: .5s;
  -o-transition: .5s;
  transition: .5s;
}

input:checked[type="checkbox"]::before {
  left: 40px;
  -webkit-transform: scale(1.1) rotate(360deg);
  -ms-transform: scale(1.1) rotate(360deg);
  transform: scale(1.1) rotate(360deg);
}